{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Project</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body><form method="post">
    {% csrf_token %}
    <label for="username">Your ID:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Enter your driver license:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">LOGIN</button>
</form>
</body>
</html>