<!-- driver_profile.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ driver.user.username }}'s Profile</title>
    <link rel="stylesheet" href="{% static 'C:\Users\user\Desktop\TRMS\TRMS\TRMS\static\assets\css\styles\style.css' %}">
    <nav>
        <div class="dropdown">
            <button class="dropbtn">ALERTS</button>
            <div class="dropdown-content">
                {% comment %} <a href="{% url 'driver_profile' user_id=request.user.id%}">Profile</a> {% endcomment %}
                
                <ul>
                    <li><a href="{% url 'tasks' %}">Tasks</a></li>
                    <li><a href="{% url 'messages' %}">Messages</a></li>
                    <!-- Add other menu items as needed -->
                </ul>
            </div>
        </div>
    </nav>   
        <h2>Tasks</h2>
        <ul>
            {% for task in tasks %}
                <li>{{ task.title }} - {{ task.day }} at {{ task.time }}</li>
            {% endfor %}
        </ul>
</head>
<body>
    {% comment %} <h1>{{ driver.user.username }}'s Profile</h1>
    <img src="{{ driver.profile_pic.url }}" alt="Profile Picture">
    <p>Email: {{ driver.user.email }}</p>
    <p>Bio: {{ driver.bio }}</p> {% endcomment %}
    <!-- Other personal information -->


<!-- Profile Update Form -->
{% comment %} <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Display the form -->
    <button type="submit">Update Profile</button>
</form> {% endcomment %}

{% comment %} {% for driver in drivers %}
    {% if driver.user and driver.user.id %}
        <!-- If the driver has a profile, link to the update page -->
        <a href="{% url 'update_driver_profile' driver.user.id %}">Update Profile</a>
    {% else %}
        <!-- If the driver doesn't have a profile, link to the create page -->
        <a href="{% url 'create_driver_profile' %}">Create Profile</a>
    {% endif %}
{% endfor %} {% endcomment %}

    <!-- Form to send message to superuser (simplified example) -->
    {% comment %} <form method="post" action="{% url 'send_message' %}">
        {% csrf_token %}
        <textarea name="message" placeholder="Send a message to the superuser"></textarea>
        <button type="submit">Send Message</button>
    </form> {% endcomment %}
</body>
</html>
