

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" >
                   Transport Management System.
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" >TRMS</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://github.com/OkeyoMercy/TRMS">GRP29</a>
          </div>
        </div>
    </footer>
